@tailwind base;
@tailwind components;
@tailwind utilities;


a {
  padding: 5px 0px;
}

a:hover {
  text-decoration: underline;
  transition: transform 0.3s;
  color: red;
}

.login-input {
  border: 1px solid gray;
  display: block;
  padding: 8px;
  width: 100%;
  margin-top: 25px;
  border-radius: 7px;
  outline: none;
}

.social-btn {
  width: 100%;
  border-radius: 9999px;
  text-align: center;
  border: 1px solid gray;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-weight: 600;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 7px 0px;
  margin: 10px 0;
}